$font_pt: 'PT Sans', sans-serif;
$font_os: 'Open Sans', sans-serif;
$header_height: 71px;
$footer_height: 100px;
$blue: #000ffa;

body,p,h1,h2,h3,ul,li{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	height: 100vh;
	background-size: cover;
}

.wrapper{
	padding: 0 100px;
}

header{
	height: $header_height;
	display: flex;

	&.wrapper{
		padding-bottom: 29px;
	}

	.header__left-side, .header__right-side{
		width: 50%;
		padding-top: 20px;
		display: flex;
	}
	.header__left-side{
		justify-content: flex-start;
	}
	.header__right-side{
		justify-content: flex-end;
	}
	.header__contacts{
		padding: 0 48px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.logo{
	height: 100%;
	width: 178px;
	position: relative;
	display: block;
	cursor: pointer;

	.logo__inner-image{
		position: absolute;
		left: -2px;
		top: -8px;
		width: 178px;
		height: 60px;
		background-image: url(../files/logo.png);
		background-repeat: no-repeat;
	}
}

span.contacts, .contacts{
	font-family: $font_pt;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	height: 15px;
	line-height: 15px;
}
span.contacts{
	padding: 0 20px;
}

.menu-button{
	cursor: pointer;
	position: relative;
	width: 30px;

	.menu-button__inner-image{
		background-image: url(../files/menu.png);
		background-repeat: no-repeat;
		position: absolute;
		top: 11px;
		width: 30px;
		height: 22px;
	}
}

footer{
	height: $footer_height;
	display: flex;
	align-items: center;
}

.content{
	width: 100%;
	/*$footer_height + $header_height*/
	height: calc( 100% - 200px);
}
.main-content{
	display: flex;
	justify-content: flex-start;

	.main-content__nav{
		padding-left: 60px;
		width: 8.6%;
		/*margin-top: 29px;*/
		height: 100%;/* calc(100% - 29px); */
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.main-content__panel{
		width: 88.4%;
		height: 100%;
		overflow: hidden;
		position: relative;
		/*display: flex;
		align-items: flex-end;*/
	}
}
.section{
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	height: 100%;
	padding-bottom: 40px;
	transition: transform .3s ease;

	.section__header{
		/*padding-bottom: 30px;*/
		width: 100%;
		position: relative;
	}

	.section__text{
		font-family: $font_os;
		letter-spacing: 0em;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		color: #fff;
		display: inline-block;
		padding: 26px 0;

	}

	.section__footer{
		width: 100%;
		padding: 25px 0;
		height: 19px;
		align-self: center;
		justify-content: center;
		display: flex;
		flex-basis: 70%;
	}
	.radio-buttons > li{
		width: 54%;
		min-width: 342px;
		height: 43px;
		display: flex;
		align-items: center;

		>.main-topic{
			margin-left: 20px
		}
	}
	.section__description{
		z-index: 6;
		min-width: 450px;
		width: 606px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.slider-panel{
	z-index: 4;
	width: 87%;
	left: 13.5%;
	height: 515px;
	padding: 20px;
	padding-right: 0;

	.slider-panel__inner-border{
		width: 500px;
		height: 500px;
		cursor: pointer;
		padding-top: 10px;
		opacity: 1;
		transition: opacity .3s ease;

		&.slick-center .inner-slide__name{
			display: inline-block;
		}

		&:hover	.inner-slide{
			margin-top: 0px;
			box-shadow: 10px -10px 0 0 #1c26b9;
		}
		&:hover .inner-slide__description{
			opacity: 1;
		}

		&:active, &:focus{
			outline: none;
			border: 0;
		}
		&.prev{
			opacity: 0;
		}
	}
}
.inner-slide{
	position: relative;
	max-width: 457px;
	max-height: 457px;
	width: 100%;
	height: 100%;
	margin: 0 20px;
	margin-top: 17px;
	transition: all 0.1s ease-out;

	.inner-slide__background{
		height: 100%;
		width: 100%;
	}
	.inner-slide__name{
		position: absolute;
		background-color: $blue;
		display: none;
		font-family: $font_os;
		padding: 21px 50px;
		line-height: 14px;
		font-weight: 400;
		font-size: 21px;
		color: #fff;
		top: calc(100% - 70px);
		left: -26px;
	}
	
	.inner-slide__description{
		padding: 39px 22px;
		width: calc(100% - 44px);
		height: calc(100% - 78px);
		transition: opacity .1s ease-out;
		opacity: 0;
		background-color: rgba(28,38,185,0.5);
	}
	.inner-slide__delimiter{
		margin-right: calc(100% - 29px);
		background-color: #fff;
		border: 1px solid #fff;
		margin-left: 2px;
		border-left: 0;
		width: 29px;
		height: 1px;
	}
}
.description{
	line-height: 20px;
	padding-bottom: 16px;
	color: #fff;
	font-family: $font_os;
	font-weight: 400;
	font-size: 16px;
}
.main-topic{
	display: inline-block;
	font-family: $font_os;
	letter-spacing: 0em;
	line-height: 30px;
	font-weight: 400;
	font-size: 20px;
	color: #fff;

	&.medium{
		line-height: 28px;
		font-size: 22px;
		text-transform: uppercase;
	}
	&.big{
		font-size: 75px;
		line-height: 21px;
		height: 32px;

		&.underlined {
			height: 45px;
			line-height: 50px;
			border-bottom: 15px solid $blue;
		}
	}
	&.bold{
		font-weight: bold;
	}
	&.underlined{
		height: 14px;
		line-height: 17px;
		border-bottom: 5px solid $blue;
	}
	
}
.radio-buttons{
	list-style: none;
	height: 265px;
	>li{
		cursor: pointer;
	}

	.radio-buttons__button{
		border: 1px double $blue;
		display: inline-block;
		border-radius: 100%;
		font-family: Arial;
		position: relative;
		cursor: pointer;
		font-size: 28px;
		padding: 1px;
		color: $blue;

		
		&.bullit{
			width: 9px;
			height: 9px;
			line-height: 9px;

			&>div{
				width: 1px;
				height: 1px;
				background-color: $blue;
				border: 3px solid $blue;
				border-radius: 100%;
				margin: 1px;
			}
		}

		&.arrow{
			width: 15px;
			height: 15px;
			background-image: url(../files/arrow-right.png);
			background-position: center;
			background-repeat: no-repeat;
		}

		> span{
			font-family: $font_os;
			position: absolute;
			font-size: 11px;
			display: none;
			width: 150px;
			height: 15px;
			color: #fff;
			left: 22px;
			top: 1px;
		}
		&.selected > span{
			display: inline-block;
		}
	}
	.radio-buttons__delimiter{
		background-color: $blue;
		margin: 3px 5px 10px 5px;
		height: 50px;
		width: 1px;
	}
}

.panel-slider-nav{
	display: flex;
    width: 130px;

	.panel-slider-nav__prev, .panel-slider-nav__next{
		background-image: url(../files/arrow.png);
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		height: 20px;
		width: 26px;
	}
	.panel-slider-nav__prev{
		transform: rotate(180deg);
	}
	.index{
		padding: 0 24px;
		width: 30px;
		height: 20px;
		color: #fff;
		font-family: $font_os;
		font-weight: 400;
		font-size: 21px;
		line-height: 21px;
	}
}